@model Application.Models.Templates.BasicModel
<!DOCTYPE html>
<html>
<head>
    <style>
        #header, #headerImg{
            width: 1000px;
            height: 300px;
        }
        #body, #bodyImg{
            width: 1000px;
            height: 500px;
        }
        #footer, #footerImg{
            width: 1000px;
            height: 200px;
        }
        .centre, .welcome, .data, .text{
            margin: 0 auto;
            display: block;
        }

        .welcome{
            padding: 30px;
            font-size: 24px;
        }

        .data {
            text-decoration: underline;
            padding: 35px;
            background-color: #ffd800;
            font-size: 24px;
            color: black;
        }

        .text {
            font-size: 22px;
        }
    </style>
</head>
<body style="background-color: darkgrey;">
    <div>
        <a class="data" href="@Model.DataTemplate"><h2>Visit our webiste</h2></a>
    </div>
    <div class="text">
        @Model.TextTemplate
    </div>
    <div class="welcome" >
        Hello @Model.FirstName @Model.LastName!
    </div>
    <div id="header" class="centre">
        <img id="headerImg"  src="cid:@Model.FileHeaderData" />
    </div>
    <div id="body" class="centre">
        <img id="bodyImg"  src="cid:@Model.FileBodyData" />
    </div>
    <div id="footer" class="centre">
        <img id="footerImg" src="cid:@Model.FileFooterData" />
    </div>
</body>
</html>