@model Application.Models.Templates.BasicModel
<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <div class="logo">
        <h2>Basic template </h2>@Model.Data
    </div>

    <div class="body">
        <img src="cid:@Model.FileHeaderData" />
    </div>
</body>
</html>