@model dynamic
<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <div class="logo">
        <h2>Basic template </h2>@Model.Data
    </div>

    @*<div class="body">
        @Model.File
    </div>*@
</body>
</html>